{{ define "main" }}
<div class="page-wrapper nav-left">
    <div id="Hero" class="hero-split">
        <div class="hero-split-content">
            <div class="hero-split-intro">
                <h1 class="heading">{{ .Params.heading | safeHTML }}</h1>
                <p class="grey-text">
                    {{ .Content }}
                </p>
                {{ with .Params.location }}
                <div class="location home-v2 w-clearfix">
                    <img src='{{ "/images/icons/about-location.svg" | relURL }}' alt="" class="location-icon"/>
                    <div class="text-block">currently live in</div>
                    <div class="location-text black-text">{{ . }}</div>
                </div>
                {{ end }}
                {{ with site.Params.footer.contact.email }}
                <div class="contact home-v2">
                    <div class="contact-text">Mail Me:</div>
                    <a href="mailto:{{ . }}" class="link-v1">{{ . }}</a>
                </div>
                {{ end }}
            </div>
        </div>
        {{ $about_bg := "/images/dev/about-hero.jpeg" | relURL }}
        <div class="split-image hero-2" 
        style='background-image: linear-gradient(#24446480, #24446480), url("{{ $about_bg }}");'>
            {{ with .Site.Params.header }}
            <div class="social-icons home-v2-icons">
                {{ with .twitter }}
                <a href="{{ . }}" target="_blank" class="social-link dark-bg w-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" class="her-social-icon" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#fff" d="M459.4 151.7c.3 4.5 .3 9.1 .3 13.6 0 138.7-105.6 298.6-298.6 298.6-59.5 0-114.7-17.2-161.1-47.1 8.4 1 16.6 1.3 25.3 1.3 49.1 0 94.2-16.6 130.3-44.8-46.1-1-84.8-31.2-98.1-72.8 6.5 1 13 1.6 19.8 1.6 9.4 0 18.8-1.3 27.6-3.6-48.1-9.7-84.1-52-84.1-103v-1.3c14 7.8 30.2 12.7 47.4 13.3-28.3-18.8-46.8-51-46.8-87.4 0-19.5 5.2-37.4 14.3-53 51.7 63.7 129.3 105.3 216.4 109.8-1.6-7.8-2.6-15.9-2.6-24 0-57.8 46.8-104.9 104.9-104.9 30.2 0 57.5 12.7 76.7 33.1 23.7-4.5 46.5-13.3 66.6-25.3-7.8 24.4-24.4 44.8-46.1 57.8 21.1-2.3 41.6-8.1 60.4-16.2-14.3 20.8-32.2 39.3-52.6 54.3z"/></svg>
                    <div class="color-hover down"></div>
                </a>
                {{ end }}
                {{ with .linkedin }}
                <a href="{{ . }}" target="_blank" class="social-link dark-bg w-inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" class="her-social-icon" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#fff" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
                    <div class="color-hover down"></div>
                </a>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
    {{ with .Params.sponsers }}
    {{ if .enable }}
    <div class="section image-4">
        <div class="wrapper" data-aos="fade-up">
            <div class="section-intro">
                <h2 class="heading-13">company i've worked with</h2>
            </div>
            <div class="clients-v1">
                {{ range .icons }}
                <a href="{{ if .url }}{{ .url }}{{ else }}#{{ end }}" class="client-v1-link w-inline-block">
                    <img src="{{ .icon | relURL }}" sizes="(max-width: 479px) 64vw, 182.734375px" alt="" class="client-logo"/>
                </a>
                {{ end }}
                <a href="#" class="client-v1-link w-inline-block"></a>
            </div>
        </div>
    </div>
    {{ end }}
    {{ end }}
    {{ with .Params.project_interest }}
    {{ if .enable }}
    {{ range $i, $p := .section }}
    {{ $is_odd := math.ModBool $i 2 }}
    <div class="section {{ if not $is_odd }}no-top-padding{{ end }}">
        <div class="wrapper">
            {{ if $p.main_heading }}
            <h1 class="heading-4">{{ $p.main_heading }}</h1>
            {{ end }}
            <div class="side-feature" style="flex-direction:{{if not $is_odd }}row-reverse;{{ end }}">
                <div class="side-media" data-aos="fade-{{ if $is_odd }}right{{ else }}left{{ end }}">
                    <img src="{{ $p.image | relURL }}" sizes="(max-width: 479px) 60vw, (max-width: 991px) 51vw, 26vw" alt="" class="side-image-back {{ if $is_odd }}left{{ else }}right{{ end }}"/>
                </div>
                <div class="side-info" data-aos="fade-{{ if $is_odd }}left{{ else }}right{{ end }}">
                    <h2>{{ $p.heading | safeHTML }}</h2>
                    <p class="grey-text">
                        {{ $p.text | safeHTML }}
                    </p>
                    {{ with $p.button }}
                    <a href="{{ .url }}" class="button ghost-button">{{ .label }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}
    {{ end }}
    {{ end }}
</div>
{{ end }}