{{- $person := dict "@type" "Person" "@id" (printf "%s#me" site.BaseURL) "name" site.Params.author "url" site.BaseURL "jobTitle" "Founder & Managing Director" "worksFor" (dict "@type" "Organization" "name" "Synetica" "url" "https://synetica.co") "alumniOf" (dict "@type" "Organization" "name" "SoftwareSeni") "homeLocation" (dict "@type" "Place" "name" site.Params.location) "sameAs" site.Params.sameAs }}
{{- if and .IsPage (eq .Section "articles") }}
{{- $d := dict "@context" "https://schema.org" "@type" "BlogPosting" "headline" (.Title | plainify) "description" (.Params.description | default .Summary | plainify) "datePublished" (.Date.Format "2006-01-02") "dateModified" (.Lastmod.Format "2006-01-02") "inLanguage" (.Params.lang_code | default "id") "wordCount" .WordCount "url" .Permalink "mainEntityOfPage" .Permalink "author" $person "publisher" $person }}
{{- with (or .Params.image .Params.cover site.Params.image) }}{{ $d = merge $d (dict "image" (. | absURL)) }}{{ end }}
{{- with .Params.tags }}{{ $d = merge $d (dict "keywords" (delimit . ", ")) }}{{ end }}
<script type="application/ld+json">{{ $d | jsonify | safeJS }}</script>
{{- else if .IsHome }}
{{- $d := dict "@context" "https://schema.org" "@type" "WebSite" "name" site.Title "url" site.BaseURL "description" site.Params.description "author" $person "inLanguage" (slice "id" "en") }}
<script type="application/ld+json">{{ $d | jsonify | safeJS }}</script>
<script type="application/ld+json">{{ merge $person (dict "@context" "https://schema.org" "description" site.Params.description) | jsonify | safeJS }}</script>
{{- else }}
{{- $d := dict "@context" "https://schema.org" "@type" (cond (eq .Section "about") "ProfilePage" "CollectionPage") "name" (.Title | plainify) "url" .Permalink "isPartOf" (dict "@type" "WebSite" "url" site.BaseURL "name" site.Title) }}
{{- if eq .Section "about" }}{{ $d = merge $d (dict "mainEntity" $person) }}{{ end }}
{{- if and (eq .Section "reading") (eq .Kind "section") }}
{{- $items := slice }}{{ $i := 0 }}
{{- range (where site.RegularPages "Section" "reading").ByPublishDate.Reverse }}
{{- $i = add $i 1 }}
{{- $name := replaceRE `^[\x{2B50}\x{FE0F}\x{1F4A9}\s]+` "" .Title | strings.TrimSpace }}
{{- $authors := slice }}{{ range split (.Params.authors | default "") ", " }}{{ with strings.TrimSpace . }}{{ $authors = $authors | append (dict "@type" "Person" "name" .) }}{{ end }}{{ end }}
{{- $book := dict "@type" "Book" "name" $name "author" $authors }}
{{- with .Params.cover }}{{ $book = merge $book (dict "image" (. | absURL)) }}{{ end }}
{{- $items = $items | append (dict "@type" "ListItem" "position" $i "item" $book) }}
{{- end }}
{{- $d = merge $d (dict "mainEntity" (dict "@type" "ItemList" "numberOfItems" (len $items) "itemListElement" $items)) }}
{{- end }}
<script type="application/ld+json">{{ $d | jsonify | safeJS }}</script>
{{- end }}
