{{ define "main" }}
<div class="page-wrapper nav-left">
    <div class="section no-bottom-padding">
        <div class="wrapper">
            <div class="w-dyn-list">
                <div role="list" class="w-dyn-items">
                    <div role="listitem" class="collection-item-3 w-dyn-item">
                        <img alt="" src="" class="image-9 w-dyn-bind-empty"/>
                        <h1 class="post-heading">Sales Essentials for Directors A – Q &amp;A Guide</h1>
                        <div class="rich-text-block w-richtext">
                            <p>
                                <em>This is evergreen article. Last update : 21 Nov 2024</em>
                                <br/>
                                <br/>
                                If you’re a <strong>Director of a company</strong>
                                , selling is <strong>the number one skill you need to master</strong>
                                . Many software companies pride themselves on their ability to deliver IT projects. They’ve accumulated a wealth of knowledge and are confident about IT delivery. However, as with any service business, there’s always a <strong>demand and supply challenge</strong>
                                .  
                            </p>
                            <p>
                                The toughest situation you’ll face? <strong>When nobody buys from you.</strong>
                            </p>
                            <p>This document is a living guide based on years of my sales experience. I think what I did is working so far, we have more than we can chew, I hope it &#x27;s working for you. </p>
                            <p>It’s written in a Q &amp;A format, which I believe makes it easier to digest. You can skip around and pick what’s relevant. I’ve also tried to make this an enjoyable read, because let’s face it, sales docs are usually dull.</p>
                            <p>Let’s dive in! 🚀</p>
                            <h2>Appearance</h2>
                            <p>
                                <strong>Do I have to look expensive to sell expensive stuff?</strong>
                                *
                            </p>
                            <p>
                                <strong>Yes. Unfortunately appearance matter</strong>
                                . I wish I could tell you it doesn’t, but clients often judge by what they see first. That said, you need to strike a balance. If you appear significantly wealthier than your client, it can create a disconnect and drive them away. Keep your look polished but approachable. Here’s how I prioritize:
                            </p>
                            <ol role="list">
                                <li>
                                    <strong>Clothes</strong>
                                    . Most of my working and meeting client is discounted Uniqlo (red label baby!). Its not cheap in Indonesia standard, but it &#x27;s safe choice. 
                                </li>
                                <li>
                                    <strong>Shoes</strong>
                                    . Clean shoes are non-negotiable. Even the most expensive shoes look bad if they’re dirty. <strong>Clean &gt;fancy</strong>
                                    . The cheap brand of shoes cleaner that work for me is <a href="https://tokopedia.link/W0pnYisYGOb">Loxus</a>
                                    .
                                </li>
                                <li>
                                    <strong>Watch</strong>
                                    . Wear one. It doesn’t need to be flashy, just functional and classy. A watch signals professionalism.
                                </li>
                                <li>
                                    <strong>Bag</strong>
                                    . Invest in a premium, not luxury brand (the easy way to tell is that the price is the feature for this brand). I’ve been using a Filson bag for almost 9 years, and it’s still going strong. Durable bags tell your clients you value quality.
                                </li>
                            </ol>
                            <h2>Price</h2>
                            <p>
                                <strong>How do I set the right price?</strong>
                            </p>
                            <p>
                                <strong>Go out there and find out your competition.</strong>
                                The worst mistake you can make is to price your services based on operational costs or what you “feel” you deserve. The market doesn’t care about your costs or your expected margins. What matters is how you compare to competitors and the value you deliver.
                            </p>
                            <ol role="list">
                                <li>
                                    <strong>Understand your competition</strong>
                                    . Research how competitors price their services. Where do they sit on the value vs. cost spectrum? What makes their offering different from yours? Only when you fully grasp this can you position your pricing.
                                </li>
                                <li>
                                    <strong>Focus on market fit.</strong>
                                    Your business model must align with the market. It’s not the market’s job to adjust to you.
                                </li>
                                <li>
                                    <strong>Be resourceful and creative</strong>
                                    . Sometimes, you need to dig deep to uncover the pricing strategies of your competitors. Be smart, not sneaky. As long as it’s legal, it’s fair game. Remember, your company depends on your ability to adapt and stay competitive.
                                </li>
                                <li>
                                    <strong>Adjust all the time</strong>
                                    . Review your pricing all the time. 
                                </li>
                                <li>
                                    <strong>Discount</strong>
                                    . Show discount to the client. Is just always nice for procurement thing, when they find that they can chop price. 
                                </li>
                            </ol>
                            <p>Failing to understand your pricing in context is a guaranteed recipe for disaster. Don’t be that guy.</p>
                            <h2>Finding Clients</h2>
                            <p>
                                Finding clients can come from two main channels: <strong>leveraging your network</strong>
                                or <strong>building a strong inbound marketing system</strong>
                                . Each has its strengths, and understanding both is crucial.
                            </p>
                            <p>
                                <strong>1. Leveraging Your Network</strong>
                            </p>
                            <p>
                                <strong>Your network is your strongest asset.</strong>
                                The first clients you land are often from people who trust you–friends, former colleagues, partners, or referrals. This channel consistently outperforms inbound marketing in terms of conversion rates and speed. Here’s how to make the most of it:
                            </p>
                            <ul role="list">
                                <li>
                                    <strong>Offer value first</strong>
                                    . Don’t jump straight to the pitch. Share insights, advice, or connections that benefit your network. People reciprocate value.
                                </li>
                                <li>
                                    <strong>Ask for referrals</strong>
                                    . Happy clients are your best salespeople. Proactively ask them to connect you with people who might need your services. One of the best mantra that I get and learn from Davo is to ask client &quot;do you know someone else that I can talk to &quot;? 
                                </li>
                            </ul>
                            <p>
                                <strong>Things to avoid</strong>
                                :
                            </p>
                            <ol role="list">
                                <li>Relying only on your existing network without expanding it. There is this network theory that the strongest one in your node is not your friend, but the friend of your friend 😉. Learn on exploit that one. </li>
                                <li>Not following up. If you say something during meeting, and you don &#x27;t follow it up. Guarantee 100% that your network will die. </li>
                            </ol>
                            <p>
                                <strong>2. Building an Inbound Marketing Engine</strong>
                            </p>
                            <p>
                                If you’re just starting out and don’t have a strong network yet, <strong>digital marketing</strong>
                                is your best bet to generate leads. Done right, inbound marketing creates a steady pipeline of opportunities.
                            </p>
                            <p>
                                <strong>Key Skills to Master</strong>
                                :
                            </p>
                            <ul role="list">
                                <li>
                                    <strong>SEO and Content Marketing</strong>
                                    . Learn how search engines work, and create content that answers your clients’ questions. I highly recommend <a href="https://ahrefs.com/">ahrefs.com</a>
                                    as a resource. Understanding SEO and relevance is a game-changer.
                                </li>
                                <li>
                                    <strong>Building Trust through Value</strong>
                                    . Publish case studies, blogs, whitepapers, or videos that showcase your expertise. Clients find you when your content adds value.
                                </li>
                                <li>
                                    <strong>Paid Ads (with Strategy)</strong>
                                    . Invest in well-targeted ads on Google or LinkedIn to drive quality leads to your site. Always test and refine.
                                </li>
                            </ul>
                            <p>
                                <strong>Balancing Inbound with Networking</strong>
                                :
                            </p>
                            <p>Once you’ve landed enough clients, shift your focus to building relationships. Inbound marketing can open doors, but your network is what keeps those doors open.</p>
                            <p>
                                <strong>Things to avoid</strong>
                                :
                            </p>
                            <ol role="list">
                                <li>Producing generic, low-value content. Clients can tell when you’re not invested.</li>
                                <li>Treating inbound marketing as a quick-fix solution. It’s a long-term game.</li>
                                <li>Ignoring follow-ups. Leads are worthless if you don’t act on them.</li>
                            </ol>
                            <p>
                                <strong>Final Thoughts on Finding Clients</strong>
                            </p>
                            <p>
                                <strong>Start where you are, and play to your strengths.</strong>
                                If you already have a network, use it. If not, double down on digital marketing to build trust and visibility. Both channels feed into each other, and as you grow, they become a cycle that keeps your pipeline full.
                            </p>
                            <p>‍</p>
                            <p>
                                Next Up… <strong>Build to Learn</strong>
                            </p>
                            <p>‍</p>
                        </div>
                        <div class="divider"></div>
                        <div class="post-date">November 21, 2024</div>
                        <div>
                            <div class="grey-text tag-label">Tag : </div>
                            <a href="/article-category/service-business" class="badge color">Service Business</a>
                        </div>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="side-header">
                <h1 class="heading-4 article-all-post">Latest Posts</h1>
            </div>
            <div class="w-dyn-list">
                <div role="list" class="blog-posts w-dyn-items">
                    <div role="listitem" class="blog-post-v3 w-dyn-item">
                        <a href="/post/sales-essentials-for-directors-a---q-a-guide" data-w-id="82bae0d7-7306-2064-cfb3-03187cc2b02f" class="post-card-v3 w-inline-block">
                            <div class="post-card-info-v3"></div>
                            <div style="background-image:none" class="div-block div-round"></div>
                            <h4 class="post-card-v3-heading">Sales Essentials for Directors A – Q &amp;A Guide</h4>
                        </a>
                    </div>
                    <div role="listitem" class="blog-post-v3 w-dyn-item">
                        <a href="/post/well-gonna-be-okay-just-dont-go-full-mr-krabs-kay" data-w-id="82bae0d7-7306-2064-cfb3-03187cc2b02f" class="post-card-v3 w-inline-block">
                            <div class="post-card-info-v3"></div>
                            <div style="background-image:url(&quot;https://cdn.prod.website-files.com/5d65948dd62e637d65ee94e7/673e22f6a683654888adf630_mrcrab.png&quot;)" class="div-block div-round"></div>
                            <h4 class="post-card-v3-heading">We &#x27;ll Gonna Be Okay, Just Don’t Go Full Mr. Krabs, Kay?</h4>
                        </a>
                    </div>
                    <div role="listitem" class="blog-post-v3 w-dyn-item">
                        <a href="/post/the-180-hours-tether-that-binds-everything-so-you-can-ignore-that-relentless-button-nudges" data-w-id="82bae0d7-7306-2064-cfb3-03187cc2b02f" class="post-card-v3 w-inline-block">
                            <div class="post-card-info-v3"></div>
                            <div style="background-image:url(&quot;https://cdn.prod.website-files.com/5d65948dd62e637d65ee94e7/652872dcc040de3b8c6f0dc3_Ganis%20Life%20Principle.png&quot;)" class="div-block div-round"></div>
                            <h4 class="post-card-v3-heading">The 180 hours tether that binds everything so you can ignore that relentless button nudges </h4>
                        </a>
                    </div>
                    <div role="listitem" class="blog-post-v3 w-dyn-item">
                        <a href="/post/memperkecil-dunia" data-w-id="82bae0d7-7306-2064-cfb3-03187cc2b02f" class="post-card-v3 w-inline-block">
                            <div class="post-card-info-v3"></div>
                            <div style="background-image:url(&quot;https://cdn.prod.website-files.com/5d65948dd62e637d65ee94e7/5d74ecdb7288d5159b3aae6d_nasa-Q1p7bh3SHj8-unsplash.jpg&quot;)" class="div-block div-round"></div>
                            <h4 class="post-card-v3-heading">Memperkecil Dunia</h4>
                        </a>
                    </div>
                    <div role="listitem" class="blog-post-v3 w-dyn-item">
                        <a href="/post/hal-terbaik-di-2018" data-w-id="82bae0d7-7306-2064-cfb3-03187cc2b02f" class="post-card-v3 w-inline-block">
                            <div class="post-card-info-v3"></div>
                            <div style="background-image:url(&quot;https://cdn.prod.website-files.com/5d65948dd62e637d65ee94e7/5d766321ce0c57a00ebb7be8_charles-VkmDIP2KOmM-unsplash.jpg&quot;)" class="div-block div-round"></div>
                            <h4 class="post-card-v3-heading">Hal Terbaik di 2018</h4>
                        </a>
                    </div>
                    <div role="listitem" class="blog-post-v3 w-dyn-item">
                        <a href="/post/6-alasan-pindah-dari-wordpress-ke-webflow" data-w-id="82bae0d7-7306-2064-cfb3-03187cc2b02f" class="post-card-v3 w-inline-block">
                            <div class="post-card-info-v3"></div>
                            <div style="background-image:url(&quot;https://cdn.prod.website-files.com/5d65948dd62e637d65ee94e7/5d985e2cc33c89b3b571393e_smartmockups_k16yw50l.png&quot;)" class="div-block div-round"></div>
                            <h4 class="post-card-v3-heading">6 Alasan Pindah Dari Wordpress ke Webflow</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="div-block-4 center">
                <a href="/articles" class="button center">See All Posts</a>
            </div>
        </div>
    </div>
</div>
{{ end }}